#object-list {
  margin-top: 10px;
}

#object-list ul {
  display: block;
  height:125px;
  margin: 0;
  padding: 0;
  list-style:none;
  overflow:scroll;
}

#object-list li a {
  display: block;
  margin: 0;
  padding:5px;
  color:#000;
  background-color:#fff;
  border-bottom:1px solid #AAA;
  text-decoration:none;
}

#selected-obj {
  background-color:#9db7fe !important;
}


/* TMP */
#controls a {
  padding:10px;
}
