#controls {
  display:table;
  float:left;
  width:255px;
  height:100%;
  margin:0;
  padding:0 10px;
  background-color:#F2F2F2;
  box-shadow:1px 0 3px rgba(0, 0, 0, 0.25);
}

#object-list {
  display:block;
  height:135px;
  width:255px;
  margin:10px 0 0 0;
  padding:0;
  list-style:none;
  overflow:scroll;
}

#object-list li a {
  float:left;
  margin:0;
  padding:5px;
  color:#000;
  background-color:#fff;
  border-bottom:1px solid #AAA;
  text-decoration:none;
}

.obj-button {
  width:210px;
}

.obj-remove-button {
  max-width: 25px;
}

#selected-obj {
  background-color:#9db7fe !important;
}

#control-tabs {
  margin:0;
  padding:0;
}

.tab {
  float:left;
  background-color:#fff;
  margin-right:3px;
  list-style:none;
  border-top:1px solid #AAA;
  border-left:1px solid #AAA;
  border-right:1px solid #AAA;
}

.tab a {
  display: block;
  padding:5px 10px;
  color:#000;
  text-decoration:none;
}

#selected-tab {
  background-color:#9db7fe !important;
}
