@import "buttons.css";
@import "controls.css";
@import "prompts.css";

html, body {
	height: 100%;
}

h2 {
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  border-bottom: 1px solid #333;
}

#controls {
  display: block;
	width: 255px;
  height: 100%;
  padding: 10px;
	background-color: #EEE;
}

#canvas {
	float: right;
}

.height-wrapper {
  display: table;
  margin: 0;
  padding: 0;
  height: 100%;
}

.clearfloat {
	clear: both;
}
